<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Spring_Day05_Listener_Filiter2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.ssafy.listener.MyListener</listener-class>
  </listener>
  <filter>
    <display-name>Myfiliter</display-name>
    <filter-name>Myfiliter</filter-name>
    <filter-class>com.ssafy.filiter.Myfiliter</filter-class>
    <init-param>
    	<param-name>encoding</param-name>
    	<param-value>UTF-16</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Myfiliter</filter-name>
    <url-pattern>/Myfiliter</url-pattern>
  </filter-mapping>
</web-app>